<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.yx.schedule"/>

    <!-- 每小时检查一次是否有过期的订单 -->
    <bean id="abortOrder" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="scheduleOperateService"/>
        <property name="targetMethod" value="abortOrder"/>
        <property name="concurrent" value="false"/>
    </bean>

    <!--秒、分、时、日、月、周-->
    <bean id="cronTriggerAbortOrder" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="abortOrder"/>
        <property name="cronExpression" value="0 * * * * ?"/>
    </bean>

    <!-- 每天修改一次预约情况 -->
    <bean id="changeBookTime" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="scheduleOperateService"/>
        <property name="targetMethod" value="changeBookTime"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="cronTriggerChangeBookTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="changeBookTime"/>
        <property name="cronExpression" value="0 5 0 * * ?"/>
    </bean>

    <!-- 每小时修改预约情况 -->
    <bean id="changeBookTimeHour" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="scheduleOperateService"/>
        <property name="targetMethod" value="changeBookTimeHour"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="cronTriggerChangeBookTimeHour" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="changeBookTimeHour"/>
        <property name="cronExpression" value="0 5 * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerAbortOrder"/>
                <ref bean="cronTriggerChangeBookTime"/>
                <ref bean="cronTriggerChangeBookTimeHour"/>
            </list>
        </property>
    </bean>

    <!--  线程池（执行器） -->
    <task:executor id="taskExecutor" pool-size="1-4" queue-capacity="128"/>

    <!--  处理接口  -->
    <bean id="processor" class="com.yx.schedule.ProcessorImpl">
        <property name="taskExecutor">
            <ref bean="taskExecutor"/>
        </property>
    </bean>
</beans>