<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.yx.service"/>
    <context:component-scan base-package="com.yx.dao"/>
    <context:component-scan base-package="com.yx.common"/>

    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:config.properties</value>
        </property>
    </bean>

    <bean id="configuration" class="com.yx.utils.Configuration"/>
    <!--数据源-->
    <import resource="applicationContext_db.xml"/>

    <!--定时任务-->
    <import resource="applicationContext_schedule.xml"/>
</beans>