<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.yx.service"/>
    <context:component-scan base-package="com.yx.dao"/>
    <context:component-scan base-package="com.yx.cacher"/>
    <context:component-scan base-package="com.yx.common"/>
    <context:component-scan base-package="com.yx.utils"/>
    <context:component-scan base-package="com.yx.schedule"/>

    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:config.properties</value>
        </property>
    </bean>

    <!--数据源-->
    <import resource="application-db.xml"/>

    <!--定时任务-->
    <import resource="application-quartz.xml"/>

    <!--缓存-->
    <import resource="application-redis.xml"/>

    <!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages/messages"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
    <!-- 国际化 -->
</beans>